.menu-page {
  display: none;
}

.hr {
  margin: 16px 32px 32px;
  border: none;
  border-top: 2px solid var(--line-gray);
}

@media (max-width: 768px) {
  .menu-page {
    display: initial;
    left: 20vw;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--main-white);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    transition: 0.3s;
  }

  .nav-menu.open {
    right: 0;
  }

  .button-menu {
    display: flex;
    height: 28px;
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
    font-size: 19px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: var(--header-link-color);
    text-decoration: none;
    border: none;
    background-color: var(--main-white);
  }

  .button-menu:hover {
    cursor: pointer;
  }

  .arrow-img {
    width: 24px;
    height: 24px;
  }

  .items-list {
    padding: 16px 32px;
  }

  .nav-block {
    width: 200px;
    height: 80px;
    margin-left: 24px;
  }

  .link-box {
    margin-top: 18px;
  }

  .items-right-text {
    height: 32px;
    width: 188px;
    font-size: 14px;
    font-weight: 600;
  }

  .items-right-text:hover {
    cursor: pointer;
    color: var(--primary-background-color-green);
  }

  .map-location {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    padding-right: 0.1rem;
    fill: currentcolor;
  }
}
