.items-list-text {
  letter-spacing: 0.1rem;
  color: var(--header-link-color);
  text-decoration: none;
}

.font-base {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.font-base:hover {
  cursor: pointer;
  color: var(--primary-background-color-green);
}

.font-menu {
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
}

.font-menu:hover {
  cursor: pointer;
}
