.green {
  margin: 32px 0 0;
  padding: 7px 16px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: var(--main-bg-black);
  min-height: 35px;
  font-size: 14px;
  font-weight: 600;
}

.mint {
  margin: 32px 0 0;
  padding: 7px 16px;
  color: var(--main-bg-black);
  border: 1px solid var(--main-bg-black);
  border-radius: 30px;
  background-color: var(--main-bg-mint);
  min-height: 35px;
  font-size: 14px;
  font-weight: 600;
}

.white {
  /* display: inline-block; */
  padding: 7px 16px;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  background-color: var(--header-white-button);
  height: 32.8px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 1.6rem;
}

.white:hover {
  cursor: pointer;
  background-color: var(--white-button-hover-color);
}

.black {
  display: inline-block;
  padding: 7px 16px;
  color: white;
  border: 1px solid black;
  border-radius: 50px;
  background-color: var(--header-black-button);
  height: 32.8px;
  font-size: 14px;
  font-weight: 600;
}

.black:hover {
  cursor: pointer;
  background-color: var(--black-button-hover-color);
}
