.title {
  margin: 0 0 24px;
}

.font-sml {
  font-size: 19px;
}

.font-mid {
  font-size: 24px;
}

.font-lg {
  font-size: 50px;
}

@media (max-width: 800px) {
  .title {
    margin: 0 0 24px;
  }

  .font-sml {
    font-size: 16px;
  }

  .font-mid {
    font-size: 22px;
  }

  .font-lg {
    font-size: 28px;
  }
}
