.main {
  width: 100%;
}

.content-inner {
  max-width: 1440px;
  margin: 3.2rem auto;
  justify-content: center;
}

.content-flex {
  display: flex;
}

.inner-content-image {
  justify-content: center;
  width: 50%;
}

.main-img {
  display: block;
  width: 100%;
}

.inner-content-description {
  width: 50%;
  text-align: center;
  background-color: var(--main-bg-black);
  color: var(--main-white);
}
