.main {
  width: 100%;
}

.content-inner {
  max-width: 1440px;
  margin: 1.2rem auto;
}

.split {
  display: table;
  width: 100%;
}

.split-item {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.background-mint {
  background-color: var(--main-bg-mint);
}

.background-green {
  background-color: var(--main-bg-black);
}

.font-green {
  color: var(--main-bg-black);
}

.font-white {
  color: var(--main-white);
}

.height-short {
  align-items: center;
}

.inner-content-image {
}

.main-img {
  display: block;
  width: 100%;
}

.inner-content-description {
  text-align: center;
  padding: 32px 48px;
}

.content-colum {
  max-width: 1440px;
  margin: 1.2rem auto;
}

.content-colum-inner-left {
  margin-right: 0.8rem;
}

.content-colum-inner-right {
  margin-left: 0.8rem;
}

.content-colum-image {
  justify-content: center;
}

.content-colum-description {
  text-align: center;
  padding: 32px 48px;
}
