.main {
  width: 100%;
}

.content-inner {
  max-width: 1440px;
  margin: 1.2rem auto;
  justify-content: center;
}

.background-mint {
  background-color: var(--main-bg-mint);
}

.background-green {
  background-color: var(--main-bg-black);
}

.height-short {
  height: 191.19px;
  align-items: center;
}

.content-flex {
  display: flex;
}

.inner-content-image {
  justify-content: center;
  width: 50%;
}

.main-img {
  display: block;
  width: 100%;
}

.inner-content-description {
  width: 50%;
  text-align: center;
  color: var(--main-white);
  padding: 32px 24px;
}

.content-colum-image {
  justify-content: center;
  width: 100%;
}

.content-colum-description {
  width: 100%;
  text-align: center;
  color: var(--main-white);
  padding: 32px 24px;
}
