.header{
    height: 101px;
    width: 100%;
}

.nav{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.content-container{
    height: 101px;
    display: flex;
    flex-grow: 1;
}

.nav-items-wrapper{
    align-items: center;
}

.flex-container{
    margin-left: auto;
    margin-right: auto;
    height: 101px;
    display: flex;
    flex-grow: 1;
}

ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.items-list{
    display: inline-block;
}

.padding-left{
    padding-left: 2.4rem;
}

.items-list-text{
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: 700;
    letter-spacing: .1rem;
}

.items-list-text:hover{
    cursor: pointer;
    color: rgb(0, 97, 64); 
}

.items-right-wrapper{
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;
}

.items-right-list{
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.items-right-text{
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 3rem;
    display: inline-block;
}

.items-right-text:hover{
    cursor: pointer;
    color: rgb(0, 97, 64);
}

.map-location{
    vertical-align: middle;
    height: 32px;
    width: 32px;
    padding-right: 0.5rem;
    fill: currentColor;
}