.footer {
  padding: 24px 0;
}

.footer-container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.footer-top {
  display: flex;
  border-bottom: 1.5px solid var(--header-under-bar-color);
}

.flex-box {
  display: initial;
  width: 100%;
}

.title {
  font-size: 18px;
}

.arrow-btn {
  display: none;
}

.acd-check {
  display: none;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.ul-margin {
  margin-left: 2.2rem;
}

.footer-list {
  font-size: 16px;
  color: var(--list-color-gray);
  margin: 0 0 8px;
  padding: 8px 0;
  width: 180px;
}

.footer-list:hover {
  cursor: pointer;
  color: black;
}

.footer-list-flex {
  display: flex;
  margin-top: 24px;
}

.footer-flex {
  display: flex;
  margin-top: 24px;
}

.footer-list-icon {
  margin: 0 13px 0 0;
}

.icon {
  width: 32px;
}

.icon:hover {
  cursor: pointer;
  background: var(--icon-background-hover);
}

.list {
  font-size: 16px;
}

.list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.padding-right {
  padding: 0 16px 0 0;
}

.padding-both {
  padding: 0 16px;
}

.language {
  font-size: 16px;
  color: var(--primary-background-color-green);
  font-weight: 600;
}

.language:hover {
  cursor: pointer;
}

.copyright {
  font-size: 14px;
}

@media (max-width: 1400px) {
  .footer-container {
    max-width: 93%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1025px) {
  .footer-top {
    display: initial;
  }

  .title {
    margin-bottom: 16px;
    padding: 8px 0;
    font-size: 16px;
    height: 40px;
  }

  .flex-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .arr-btn-right {
    display: flex;
    justify-content: space-between;
  }

  .arrow-btn {
    display: block;
    border: none;
    background-color: #fff;
    width: 44px;
    height: 44px;
    padding: 0;
  }

  .arrow-btn:hover {
    cursor: pointer;
    background-color: var(--icon-background-hover);
    transition: 0.3s;
    border-radius: 90px;
  }

  .arrow-img {
    width: 32px;
    height: 32px;
  }

  .ul-margin {
    margin-left: 0;
  }

  .acd-content {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    visibility: hidden;
  }

  .acd-check:checked + .arrow-btn + .acd-content {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }

  .footer-flex {
    display: initial;
  }

  .list {
    padding: 8px 0;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .line {
    display: none;
  }

  .language {
    font-size: 14px;
  }
}
