.footer {
  padding: 24px 2.4rem;
}

.footer-container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.footer-top {
  display: flex;
}

.flex-box {
  display: initial;
  width: 100%;
}

.title {
  font-size: 19px;
  font-weight: 400;
}

.arrow-btn {
  display: none;
}

.acd-check {
  display: none;
}

ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.ul-margin {
  margin-left: 2.2rem;
}

.footer-list {
  font-size: 16px;
  margin: 0 0 8px;
  padding: 8px 0;
  width: 180px;
}

.footer-link {
  color: var(--list-color-gray);
  text-decoration: none;
}

.footer-list:hover {
  cursor: pointer;
}

.footer-link:hover {
  color: black;
}

.footer-list-flex {
  display: flex;
  margin: 0;
}

.footer-flex-box {
  margin: 16px 0 4px;
}

.footer-flex {
  display: flex;
}

.footer-list-icon {
  width: 50px;
  height: 50px;
}

.footer-list-button {
  width: 44px;
  height: 44px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border: none;
  background-color: var(--main-white);
}

.icon {
  width: 32px;
  height: 32px;
}

.footer-list-button:hover {
  cursor: pointer;
}

.icon:hover {
  box-shadow: 0 0 0 6px var(--icon-background-hover);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background-color: var(--icon-background-hover);
}

.list {
  font-size: 16px;
}

.list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.padding-right {
  padding: 0 16px 0 0;
}

.padding-both {
  padding: 0 16px;
}

.language-box {
  margin: 16px 0 4px;
}

.language {
  font-size: 16px;
  color: var(--primary-background-color-green);
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.language:hover {
  cursor: pointer;
}

.copyright {
  padding: 16px 0;
  font-size: 14px;
  letter-spacing: 0.02rem;
  margin: 0;
}

.hr {
  margin: 32px 0;
  border: none;
  border-top: 2px solid var(--line-gray);
}

@media (max-width: 1400px) {
  .footer-container {
    max-width: 93%;
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    padding: 24px 0.1rem;
  }
}

@media (max-width: 1025px) {
  .footer-top {
    display: initial;
  }

  .title {
    align-items: center;
    font-size: 16px;
    font-weight: 400;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-list {
    width: 300px;
  }

  .footer-box {
    position: relative;
  }

  /* .flex-box {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 0 16px;
    padding: 8px 0;
  } */

  .flex-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    padding: 8px 0;
  }

  .arrow-btn {
    display: initial;
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  .arrow-btn:hover {
    box-shadow: 0 0 0 6px var(--hamburger-hover-gray);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background-color: var(--hamburger-hover-gray);
  }

  .arrow-img {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ul-margin {
    margin-left: 0;
  }

  .acd-content {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    visibility: hidden;
  }

  .acd-check:checked + .arrow-btn + .acd-content {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }

  .acd-check:checked + .arrow-btn {
    transform: rotate(-180deg);
  }

  .footer-flex {
    display: initial;
  }

  .list {
    padding: 8px 0;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .line {
    display: none;
  }

  .language {
    font-size: 14px;
  }

  .copyright {
    font-size: 13px;
    letter-spacing: 0.02rem;
    color: var(--list-color-gray);
  }
}
